= form_for @worker_profile do |f|
  - if @worker_profile.errors.any?
    #error_explanation
      %h2= "#{pluralize(@worker_profile.errors.count, "error")} prohibited this worker_profile from being saved:"
      %ul
        - @worker_profile.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
